.Main .mainText,
.Main .mainImg {
	flex: 1;
}
.Main {
	background-image: url('../../../public/images/bg-intro-desktop.svg');
	background-repeat: no-repeat;
	background-position: right -470px top -243px;
	overflow: hidden;
	min-height: 100vh;
	min-width: 100%;
}
@media screen and (max-width: 968px) {
	.Main {
		background-image: url('../../../public/images/bg-intro-mobile.svg');
		background-repeat: no-repeat;
		background-position: right 0 top 15px;
		background-size:70%;
	}
	.Main .Box {
		flex-direction: column-reverse;
	}
}
@media screen and (max-width: 375px) {
	.Main {
		background-position: right 0 top 15px;
		background-size:100%;
		
	}
	.Main .Box {
		flex-direction: column-reverse;
	}
}

.mainImg img {
	position: absolute;
	z-index: 70;
	width: 767px;
	right: -118px;
	top: -24px;
	height: 939px;
}
@media screen and (max-width: 968px) {
	.mainImg img {
		right: 0;
		top: -212px;
		width: calc(100% - 20px);
	}
}
@media screen and (max-width: 375px) {
	.mainImg img {
		height: 373.6px;
		top: 44px;
		width: calc(100% - 20px);
	}
}

.mainText {
	margin-top: 236px;
	text-align: left;
}
@media screen and (max-width: 968px) {
	.mainText {
		margin-top: 700px;
		text-align: center;
	}
}
	.mainText h1 {
		font-weight: 400;
		font-size: 60px;
	}
	.mainText h1 {
		font-weight: 400;
		font-size: 60px;
	}
	.mainText p {
		padding: 20px 0;
	}
	.mainText .btnHeader {
		padding: 30px 0;
	}


@media screen and (max-width: 375px) {
	.mainText {
		margin-top: 400px;
		
	}
}