.App {
	text-align: center;
	position: relative;
	overflow: hidden;
	
}

.Container {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
@media screen and (max-width: 968px) {
	.Container {
		width: 100%;
	}
}
/* box after Container */
.Box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media screen and (max-width: 968px) {
	.Box {
		margin:20px;
		flex-direction: column;
	}
}
/* buttom */
.btnHeader span {
	border-radius: 100px;
	padding: 15px 40px;
	background-image: var(--gradientBackground);
	color: white;
}
.btnHeader span:hover {
	background-image: var(--hover);
	background-position: right center;
	font-weight: 400;
	cursor: pointer;
	color: black;
}
/* box without flex */
.wrapper {
	text-align: left;
	padding: 100px 0;
}

@media screen and (max-width: 968px) {
	.wrapper {
		margin:20px;
		text-align: center;
		padding: 60px 0;
	}
}